// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

@import '~vue-multiselect/dist/vue-multiselect.min.css';

.modal { 
overflow: auto !important; 
}
.modal-body {
word-break: break-all;
}

.fade-enter-active {
transition: all .10s ease;
}
.fade-leave-active {
transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.fade-enter, .fade-leave-to {
transform: translateX(10px);
opacity: 0;
}

.branches-enter-active {
transition: all 1s ease;
}
.branches-leave-active {
transition: all 1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.branches-enter, .branches-leave-to {
transform: translateX(10px);
opacity: 0;
}

.new-storage-enter-active, .new-storage-leave-active, .new-container-enter-active, .new-container-leave-active {
transition: opacity .5s;
}
.new-storage-enter, .new-storage-leave-to, .new-container-enter, .new-container-leave-to {
opacity: 0;
}

.date {
background: #f2f2f2;
border: 1px solid #ddd;
padding: 1em 1em 1em;
}

.tooltip {
display: block !important;
z-index: 10000;

.tooltip-inner {
background: black;
color: white;
border-radius: 16px;
padding: 5px 10px 4px;
}

.tooltip-arrow {
width: 0;
height: 0;
border-style: solid;
position: absolute;
margin: 5px;
border-color: black;
z-index: 1;
}

&[x-placement^="top"] {
margin-bottom: 5px;

.tooltip-arrow {
border-width: 5px 5px 0 5px;
border-left-color: transparent !important;
border-right-color: transparent !important;
border-bottom-color: transparent !important;
bottom: -5px;
left: calc(50% - 5px);
margin-top: 0;
margin-bottom: 0;
}
}

&[x-placement^="bottom"] {
margin-top: 5px;

.tooltip-arrow {
border-width: 0 5px 5px 5px;
border-left-color: transparent !important;
border-right-color: transparent !important;
border-top-color: transparent !important;
top: -5px;
left: calc(50% - 5px);
margin-top: 0;
margin-bottom: 0;
}
}

&[x-placement^="right"] {
margin-left: 5px;

.tooltip-arrow {
border-width: 5px 5px 5px 0;
border-left-color: transparent !important;
border-top-color: transparent !important;
border-bottom-color: transparent !important;
left: -5px;
top: calc(50% - 5px);
margin-left: 0;
margin-right: 0;
}
}

&[x-placement^="left"] {
margin-right: 5px;

.tooltip-arrow {
border-width: 5px 0 5px 5px;
border-top-color: transparent !important;
border-right-color: transparent !important;
border-bottom-color: transparent !important;
right: -5px;
top: calc(50% - 5px);
margin-left: 0;
margin-right: 0;
}
}

&.popover {
$color: #f9f9f9;

.popover-inner {
background: $color;
color: black;
padding: 24px;
border-radius: 5px;
box-shadow: 0 5px 30px rgba(black, .1);
}

.popover-arrow {
border-color: $color;
}
}

&[aria-hidden='true'] {
visibility: hidden;
opacity: 0;
transition: opacity .15s, visibility .15s;
}

&[aria-hidden='false'] {
visibility: visible;
opacity: 1;
transition: opacity .15s;
}
}

span.badge, {
border-radius: 3px;
padding: 5px 7px;
}

.highlighted {
background-color: #D9D9CD!important;
}

.table tr th:first-child, .table tr td:first-child {  
text-align : left
}

.table {
div.alert.alert-danger {
text-align:center
}
}

body, .pcoded .pcoded-navbar {
font-family: 'Open Sans', sans-serif;
}
